*.class
*.log
.idea/
out/
.idea_modules/
dist/*
data/data_big.txt
target/
target*/
lib_managed/
src_managed/
project/boot/
project/target/
project/plugins/project/
project/local-plugins.sbt
.cache
.lib/
.bsp
.bloop/
local.sbt
